#content {
    margin-top: 50px;
    margin-bottom: 10px;
    border: 1px solid #eee; 
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 15px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.sql-log-panel {
    margin-top: 20px;
}

.main-title {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.main-title span.glyphicon {
    color: #428bca;
}

td.actions span.glyphicon {
    margin-right: 10px;
}

.pull-right.pagination {
    margin: 0;
}

#document-items .check {
    padding: 0 0 0 5px;
    text-align: right;
}

#document-items .check input {
    margin-top: 18px;
}

.document-code, .document-date {
    padding-bottom: 15px;    
}

.document-code label, .document-date label {
    margin-right: 5px;
}

.date label {
    display: block;
    margin-bottom: 5px;
}

.document-code input, .document-date select {    
    margin-left: 5px;
}

.date select {
    margin-right: 5px;
}

.delivery-note-date {
    padding-bottom: 15px;
}

.add-line-action {
    padding-bottom: 5px;
}

.panel-collapse .panel-heading {
    cursor: pointer;
}

.panel-collapse .panel-body {
    display: none;
}

.panel-collapse.open .panel-body {
    display: block;
}

input.currency, input.rate {
    text-align: right;
}

input.quantity {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.barcode-wrapper.well {
    margin-bottom: 5px;
}

.barcode-wrapper .glyphicon {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
}